:root
	--white:#FFFFFF
	--yellow-main: #FDE410
	--yellow-mainsub:linear-gradient(180deg, #FDE515 0%, #DEBB00 100%)
	--green-middle-grad:linear-gradient(356deg, rgba(2, 10, 10, 0.00) -8.75%, #093A2B 50.5%)	
	--dark-grey: #222
	--grey: #3A3A3A
	--dark: #020A09
	--green-dark: #0B201B
	--green-middle: #173F34
	--green-light-middle: #2F735E
	--green-light: #339861
	--green-very-light: #30E1A2
	--txt-c: #FFFFFF 







.txt-c
	color: var(--txt-c)