h1,h2,h3,h4
	margin: 0

h1
	position: relative
	font-size: 36px
	font-style: normal
	font-weight: 700
	line-height: 40px
	text-transform: capitalize
	color: var(--white)
	margin-bottom: 0
.h1
	font-size: 45px
	font-style: normal
	font-weight: 500
	line-height: 60px
	text-transform: uppercase
	color: var(--white)
	margin-bottom: 0
h2
	font-family: Poppins
	font-size: 32px
	font-style: normal
	font-weight: 600
	line-height: 30px
	text-transform: capitalize
	color: var(--yellow-main)

//  >> ТИТУЛ СТРАНИЦЫ <<
.title
	display: flex
	justify-content: center
	&_right
		display: flex
		align-items: center
		text-align: end
		position: relative
		width: 603px
		height: 96px
		&:before
			content:''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			width: 653px
			height: 96px
			background: url('../image/svg/line-right.svg') no-repeat
	&_left
		display: flex
		justify-content: flex-start
		position: relative
		width: 613px
		height: 96px
		align-items: center
		&:before
			content:''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 653px
			height: 96px
			background: url('../image/svg/line-left.svg') no-repeat
	&_yellow
		color: var(--yellow-main)
	&_green
		color: var(--green-very-light)
		margin-bottom: 30px	
	&_end
		justify-content: flex-end
	&_start
		justify-content: flex-start
		
.fw600
	font-weight:600
.fw400
	font-weight:400	

.txt_fz12	
	font-size: 12px
	font-style: normal
	font-weight: 400
	line-height: 16px	
	margin-bottom: 0

.txt_fz14
	font-size: 14px
	font-style: normal
	font-weight: 600
	line-height: 18px
	text-transform: uppercase
	margin-bottom: 0

.txt_fz16
	font-size: 16px
	font-style: normal
	font-weight: 400
	line-height: 20px
	color: var(--white)
	margin-bottom: 0

.txt_fz18
	font-size: 18px
	font-style: normal
	line-height: 20px
	color: var(--white)
	text-transform: uppercase
	margin-bottom: 0	

.txt_fz20
	font-size: 20px
	line-height: 20px
	color: var(--white)
.fz32 
	font-size: 32px
	font-style: normal
	line-height: 30px
	text-transform: capitalize
	color: var(--green-very-light)	

.txt_86
	font-size: 86px
	font-style: normal
	font-weight: 900
	line-height: 77px
	text-transform: uppercase
	margin-bottom: 0

	// >>( СЛЫЛКА )<<
.txt_a
	font-size: 14px
	font-weight: 400
	line-height: 15px
	text-transform: capitalize
	margin-bottom: 0
		
// >> ШИРИНА <<
.w595
	width: 595px


