*
	font-family: 'Poppins'


:root
	--bordrad: 4px
	--bordrad-8: 8px
	--bordrad-10: 10px
	--bordrad-12: 12px
	--bordrad-20: 20px
	--bordrad-50: 50px
	--transition: all .5s	

.container	
	width: 1140px
	margin: 0 auto


// !! ЦЕНТРОВКА ТЕКСТА !!
.text-center
	text-align: center	
.text-left
	text-align: left
.text-right
	text-align: right
.tetx-end
	text-align: end	

// !! ОКРУГЛЕНИЕ !!
.br-4
	border-radius: var(--bordrad)
.br-8
	border-radius: var(--bordrad-8)
.br-10
	border-radius: var(--bordrad-10)
.br-12
	border-radius: var(--bordrad-12)
.br-20
	border-radius: var(--bordrad-20)	
.br-50
	border-radius: var(--bordrad-50)


// !xxl
@media (max-width: 1399px)

// !xl
@media (max-width: 1199px)

// !lg
@media (max-width: 991px)

// !md
@media (max-width: 767px)
	// :root
	// 	--bordrad: 10px
	// 	--bordrad-20: 10px
	// 	--bordrad-30: 20px
// !sm
@media (max-width: 575px)

	