*
	font-family: 'Poppins'

	box-sizing: border-box
	margin: 0
	padding: 0

:root
	--bordrad: 4px
	--bordrad-8: 8px
	--bordrad-10: 10px
	--bordrad-12: 12px
	--bordrad-50: 50px
	--transition: all .5s	
	--align-right: right

.container	
	width: 1140px
	margin: 0 auto
	padding: 0


// !! ЦЕНТРОВКА ТЕКСТА !!
.text-center
	text-align: center	
.text-left
	text-align: left
.text-right
	text-align: right
.tetx-end
	text-align: end	

// !! ОКРУГЛЕНИЕ !!
.br-4
	border-radius: var(--bordrad)
.br-8
	border-radius: var(--bordrad-8)
.br-10
	border-radius: var(--bordrad-10)
.br-12
	border-radius: var(--bordrad-12)
.br-50
	border-radius: var(--bordrad-50)




// >>УКАЗАТЕЛЬ<<

	