.banner
	// position: relative
	// margin-top: 70px
	min-height: 487px
	background: url('../image/banner_main.png') center center/cover	
	&-block
		padding-top: 120px
		// &::before
		// 	content: ''
		// 	position: absolute
		// 	top: 0
		// 	left: 0%
		// 	width: 970px
		// 	height: 100%
		// 	background: url('../image/svg/block.svg') center center/cover no-repeat 

		&__title
			display: flex
			font-size: 45px
			font-weight: 500
			line-height: 60px
			text-transform: uppercase
			color: var(--white)
			margin-bottom: 10px
		&__name	
			display: flex
			color: var(--yellow-main)
			margin-bottom: 20px
		&__link
			font-size: 16px
			font-style: normal
			font-weight: 500
			line-height: 18px
			text-transform: uppercase
			text-decoration: none
			color: var(--white)
			