.button
	display: flex
	align-items: center
	// justify-content: center
	cursor: pointer
	width: 100%
	
	&__head
		padding: 10px 
		border-radius: var(--bordrad)
		transition:	var(--transition)
		background-color: var(--green-middle)
		cursor: pointer
		border: 0
		&:hover
			transition:	var(--transition)
			background-color: var(--green-light-middle)
	&__btn
		position: relative
		display: flex
		justify-content: space-between
		width: 410px
	&__grad-light
		position: relative
		padding: 0 21px
		border-radius: var(--bordrad-10)
		background: rgb(206, 171, 19)
		border: 1px solid #FFDB43
		transition: all 0.5s
		width: 200px
		height: 50px
		&:hover
			transition: all 0.5s
			border: 1px solid #FFDB43
			background: linear-gradient(350.03deg, rgba(253, 244, 112, 0) 7.47%, #FBC600 92.53%),linear-gradient(359.91deg, rgba(255, 219, 67, 0.5) 0.09%, rgba(255, 219, 67, 0) 99.92%)
		&:before
			content: ''
			position: absolute
			top: 10px
			left: 159px
			bottom: 0
			width: 20px
			height: 20px
			background: url('../image/svg/download.svg') center center/cover no-repeat

			
	&__block-back
		position: relative
		padding: 0 53px
		border-radius: var(--bordrad-10)
		background: rgb(24, 103, 64)
		width: 200px
		height: 50px
		transition: all 0.5s
		&:hover
			transition: all 0.5s
			// border: 1px solid var(--block-back-mob, #30E1A2)
			background: linear-gradient(180deg, #339861 0%, rgba(25, 195, 105, 0) 100%),linear-gradient(359.91deg, rgba(48, 225, 162, 0.5) 0.09%, rgba(25, 195, 105, 0) 99.92%)
		&:before
			content: ''
			position: absolute
			top: 11px
			left: 126px
			bottom: 0
			width: 20px
			height: 20px
			background: url('../image/svg/sign-up.svg') center center/cover no-repeat	

	&__