.comment
	background: var(--dark-grey)
	&__title
		padding-top: 40px
		padding-bottom: 20px
	&__wrapper	

	&__forma	
		display: flex
		flex-direction: column
	input	
		padding: 18px 20px
		border-radius: var(--bordrad-8)
		background: #5F5F5F
		margin-bottom: 18px
		&::placeholder
			color: var(--white)	
	textarea
		padding: 18px 20px
		border-radius: var(--bordrad-8)
		background: #5F5F5F
		resize: none
		width: 533px
		height: 188px
		margin-bottom: 18px
		&::placeholder
			color: var(--white)	
