.delimiter
    background: var(--green-light-middle)
    &__wrapper
        padding-top: 35px   
        padding-bottom: 35px
    &-item
        display: flex
        justify-content: center   
        &__icons
            padding-right: 94px