.deposit
	background-color: var(--dark)
	position: relative
	padding-bottom: 40px
	&-wrapper
		&__items
			display: flex
			justify-content: space-between
		&__text
			margin-top: 20px
			width: 653px
			margin-bottom: 30px	
		&__picture
			margin-top: -100px	

	&-table
		display: flex
		width: 653px
		height: 240px
		&__link
			padding: 10px 10px
			display: flex
			justify-content: center
			align-items: center
			list-style-type: none
			border: 1px solid var(--dark)
			width: 217px
			height: 60px
		&__light
			background-color: var(--green-light)
		&__left
			background-color: var(--green-light-middle)
			ul
				display: contents
		&__right
			background-color: var(--green-middle)	
			ul
				display: contents			