.deposit
	background-color: var(--dark)
	position: relative
	padding-bottom: 40px
	&__wrapper
		display: flex
	&__content
		display: flex
		flex-direction: column
	&__text
		margin-top: 20px
		width: 653px
		margin-bottom: 30px	
		

.table
	display: flex
	&__link
		padding: 10px 10px
		display: flex
		justify-content: center
		align-items: center
		list-style-type: none
		border: 1px solid var(--dark)
		// width: 217px
		// height: 60px
		