.design
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
		&-items
			display: flex
			flex-direction: column
		&-txt
			margin-top: 20px
			width: 653px	
			padding-bottom: 93px