.desktop
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
	&__content
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__txt
		margin-top: 20px
		width: 653px
		margin-bottom: 133px