.games
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
	&__content
		// display: flex
		// justify-content: space-between
	// &__picture
	// 	margin-bottom: 10px
	&__img
		margin-bottom: 10px	
	&__main-txt
		margin-top: 20px
		margin-bottom: 10px
	&__page
		display: flex
		flex-direction: column
		align-items: center	
		// width: calc(43% - 20px)
	&__img-txt
		width: 90%

	&-descr
		margin-top: 20px
		width: 653px
		margin-bottom: 10px

	&__txt
		margin-top: 10px
		margin-bottom: 40px

.item		
	&-element	
		overflow: hidden
		width: 653px
		border-radius: var(--bordrad-8)	
		background-color: var(--green-middle)
		&__name
			display: block
			padding: 10px 10px	
			background-color:  var(--green-light-middle)
		&__txt
			padding: 10px 10px	



.mb
	margin-bottom: 0				