.games
	background-color: var(--dark)
	padding-bottom: 40px
	&-wrapper
		display: flex
		&__cover
			// display: flex
			// justify-content: space-between
		&__picture
		&__img
			margin-bottom: 10px	
		&__subtxt
			margin-left: 20px
		&__descr
			margin-top: 20px
			width: 653px
			margin-bottom: 10px
		&__element	
			overflow: hidden
			width: 653px
			border-radius: var(--bordrad-8)	
			background-color: var(--green-middle)
		&__name
			display: block
			padding: 10px 10px	
			background-color:  var(--green)
		&__txt
			padding: 10px 10px	


// .mb
// 	margin-bottom: 0				