.ios
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
	&__items
		display: flex
	&__content
		display: flex
		flex-direction: column
		align-items: flex-end	
		width: 663px
	&__txt
		margin-top: 10px	