.key
	background-color: var(--dark)
	padding-bottom: 40px
	&-wrapper
		display: flex
		flex-wrap: wrap
		&__items
			display: flex
		&__box
			display: flex
			flex-wrap: wrap
			justify-content: flex-end	
		&__descr
			margin-top: 10px	
			margin-bottom: 40px
	&-items
		display: flex
		flex-direction: column
		&__icons
			display: flex
			align-items: center
			margin-bottom: 20px
		&__name
			margin-left: 10px
		&__descr
			margin-bottom: 20px
		
						
					
.mb
	margin-bottom: 0				
		