.methods
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: center
		&-items
			display: flex
		&-block
			display: flex
			flex-direction: column
			align-items: flex-end	
		&-txt
			margin-top: 10px	
		&-descr
			margin-top: 20px
			margin-bottom: 40px	
	&__table
		display: flex
		&-list
			padding: 10px 10px
			display: flex
			align-items: center
			list-style-type: none
			border: 1px solid var(--dark)
		&-height
			height: 60px
		&-left
			width: 300px
			background-color: var(--green-light-middle)
			ul
				display: contents
		&-right
			width: 628px
			background-color: var(--green-middle)	
			ul
				display: contents		