.system
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		&-items
			display: flex
			justify-content: space-between
		&-block
			display: flex
			flex-direction: column
			align-items: center
		&-text
			margin-top: 10px
			margin-bottom: 10px

.table
	display: flex
	&__left
		display: flex
		flex-direction: column
		width: 326px	
		background-color: var(--green-light-middle)
	&__right
		display: flex
		flex-direction: column
		width: 326px	
		background-color: var(--green-middle)	
	&__item
		display: contents
	&__list
		padding: 10px 10px
		list-style-type: none
		border: 1px solid var(--dark)

