
.table
	display: flex
	margin-bottom: 0
	&-item
		display: contents
		&__list
			padding: 10px 10px
			display: flex
			align-items: center
			list-style-type: none
			border: 1px solid var(--dark)
	&__left
		display: flex
		flex-direction: column	
		background-color: var(--green-light-middle)
		&_w326
			width: 326px
	&__right
		display: flex
		flex-direction: column	
		background-color: var(--green-middle)
		&_w326
			width: 326px
