.website
	background-color: var(--dark)
	position: relative
	padding-bottom: 40px
	&-wrapper
		display: flex
		&__items
			display: flex
			flex-direction: column
		&__text
			margin-top: 20px
			width: 653px
			margin-bottom: 30px	
		&__picture
	&-table
		display: flex
		&__link
			padding: 10px 10px
			display: flex
			justify-content: center
			align-items: center
			list-style-type: none
			border: 1px solid var(--dark)
			width: 326px
			height: 40px
		&__light
			background-color: var(--green-light)
		&__left
			background-color: var(--green-light-middle)
			ul
				display: contents
		&__right
			background-color: var(--green-middle)	
			ul
				display: contents