.website
	background-color: var(--dark)
	position: relative
	padding-bottom: 40px
	&__wrapper
		display: flex
		&-items
			display: flex
			flex-direction: column
		&-text
			margin-top: 20px
			width: 653px
			margin-bottom: 30px	
		&-picture
	&__table
		display: flex
		&-link
			padding: 10px 10px
			display: flex
			justify-content: center
			align-items: center
			list-style-type: none
			border: 1px solid var(--dark)
			width: 326px
			height: 40px
		&-light
			background-color: var(--green-light)
		&-left
			background-color: var(--green-light-middle)
			ul
				display: contents
		&-right
			background-color: var(--green-middle)	
			ul
				display: contents