.welcome
	position: relative
	background-color: var(--dark)
	padding-bottom: 0
	&-wrapper
		&__cover
			padding-top: 50px
			display: flex
			justify-content: space-between
		&__descr
			margin-top: 20px
			width: 653px
			margin-bottom: 10px
		&__picture	
			display: flex
			justify-content: flex-end	
			img
				position: absolute
	&-table
		display: flex
		width: 652px	
		padding-bottom: 40px
		&__link
			padding: 10px 10px
			list-style-type: none
			border: 1px solid var(--dark)
		&__left
			display: flex
			flex-direction: column
			width: 326px	
			background-color: var(--green-light-middle)
		&__right
			display: flex
			flex-direction: column
			width: 326px	
			background-color: var(--green-middle)