.welcome
	padding-top: 50px
	position: relative
	background-color: var(--dark)
	padding-bottom: 40px
	&__wrapper
		display: flex
	&__items
		display: flex
		flex-wrap: wrap
	&__descr
		margin-top: 20px
		width: 653px
		margin-bottom: 30px
